.checkout-container {
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-container input,
.checkout-container textarea {
  padding: 12px;
  font-size: 16px;
}

.checkout-container button {
  padding: 12px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}